@model modelList
@using CNTI365.FACTUR.Models
@{
    ViewBag.Title = "Proveedores";
}

<br />
<br />
<br />

<div class="panel panel-info">

    <div class="panel-heading">
        <label><b><span id="lblinicial"></span></b></label>

        <button type="button" class="btn btn-danger btn-sm" style="float:right;" id="cerrarModulo"><i class="fa fa-window-close"></i></button>

    </div>

    <div class="panel-body">

        <div id="divlistaproveedores">



            <div class="col-md-12">
                <div class="col-md-12">
                    <button type="button" class="btn btn-info btn-sm" style="float:right;" id="newproveedor"><i class="fa fa-plus-square"></i> Nuevo</button>
                </div>

            </div>

            <div class="col-md-12">
                <hr />
                <div class="col-md-12">

                    <table class="table table-condensed table-bordered table-hover dt-reponsive tablas">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th>Email</th>
                                <th>Telefono</th>
                                <th>Direccion</th>
                                <th>Estado</th>
                                <th>opciones</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.listaProveedores)
                            {
                                <tr>
                                    <td>@item.ruc</td>
                                    <td>@item.razonsocial</td>
                                    <td>@item.email</td>
                                    <td>@item.telefono</td>
                                    <td>@item.direccion</td>

                                    @if (item.status == 0)
                                    {
                                        <td>
                                            <span style="background: #ff0000; color: #fff">Desactivado</span>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-success btn-sm btnactivar" Activar="@item.idprov"><i class="fa fa-check"></i></button>
                                            <button type="button" class="btn btn-danger btn-sm btneliminar" Eliminar="@item.idprov"><i class="fa fa-trash"></i></button>
                                        </td>
                                    }
                                    else if (item.status == 1)
                                    {
                                        <td>
                                            <span style="background: #00631a; color: #fff">Activado</span>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger btn-sm btndesactivar" Desactivar="@item.idprov"><i class="fa fa-times"></i></button>
                                            <button type="button" class="btn btn-warning btn-sm btneditar" editar="@item.idprov"><i class="fa fa-pencil"></i></button>
                                        </td>
                                    }



                                </tr>
                            }

                        </tbody>
                    </table>

                </div>

            </div>

        </div>

        <div class="divnewprovedor">


            <div class="col-md-12">

                <div class="col-md-4">
                    <span><label><b>CODIGO:</b></label></span>
                    <input type="text" class="form-control" id="txtpruc" placeholder="Ingrese el codigo" required onkeypress="return solonumeros(event)" />
                    <span id="msjruc"></span>
                </div>

                <div class="col-md-8">
                    <span><label><b>NOMBRE:</b></label></span>
                    <input type="text" class="form-control" id="txtprazonsocial" placeholder="Ingrese el nombre" required />
                    <span id="msjrazonsocial"></span>
                </div>

            </div>


            <div class="col-md-12">
                <br />
                <div class="col-md-4">
                    <span><label><b>TELEFONO:</b></label></span>
                    <input type="text" class="form-control" id="txtptelefono" placeholder="Ingrese el telefono" required onkeypress="return solonumeros(event)" />
                    <span id="msjtelefonos"></span>
                </div>

                <div class="col-md-6">
                    <span><label><b>EMAIL:</b></label></span>
                    <input type="text" class="form-control" id="txtpemail" placeholder="Ingrese el email" required />
                    <span id="msjemail"></span>
                </div>

            </div>

            <div class="col-md-12">
                <br />
                <div class="col-md-8">
                    <span><label><b>DIRECCION:</b></label></span>
                    <input type="text" class="form-control" id="txtpdireccion" placeholder="Ingrese la direccion" />
                    <span id="msjdireccion"></span>
                </div>
            </div>

            <div class="col-md-12">
                <br />
                <div class="col-md-12">
                    <button type="button" class="btn btn-success " id="btnregistrar"> <i class=" fa fa-floppy-o"></i> Registrar</button>
                    <button type="button" class="btn btn-danger" id="btnvolver"> <i class=" fa fa-reply"></i> Volver</button>
                </div>


            </div>




        </div>

        <div class="diveditprovedor">


            <div class="col-md-12">
                <input type="hidden" class="form-control" id="idprov" />

                <div class="col-md-4">
                    <span><label><b>CODIGO:</b></label></span>
                    <input type="text" class="form-control" id="txteditpruc" placeholder="Ingrese el codigo" required onkeypress="return solonumeros(event)" />
                    <span id="msjeditruc"></span>
                </div>

                <div class="col-md-8">
                    <span><label><b>NOMBRE:</b></label></span>
                    <input type="text" class="form-control" id="txteditprazonsocial" placeholder="Ingrese el nombre" required />
                    <span id="msjeditrazonsocial"></span>
                </div>

            </div>


            <div class="col-md-12">
                <br />
                <div class="col-md-4">
                    <span><label><b>TELEFONO:</b></label></span>
                    <input type="text" class="form-control" id="txteditptelefono" placeholder="Ingrese el telefono" required onkeypress="return solonumeros(event)" />
                    <span id="msjedittelefonos"></span>
                </div>

                <div class="col-md-6">
                    <span><label><b>EMAIL:</b></label></span>
                    <input type="text" class="form-control" id="txteditpemail" placeholder="Ingrese el email" required />
                    <span id="msjeditemail"></span>
                </div>

            </div>

            <div class="col-md-12">
                <br />
                <div class="col-md-8">
                    <span><label><b>DIRECCION:</b></label></span>
                    <input type="text" class="form-control" id="txteditpdireccion" placeholder="Ingrese la direccion" />
                    <span id="msjeditdireccion"></span>
                </div>
            </div>

            <div class="col-md-12">
                <br />
                <div class="col-md-12">
                    <button type="button" class="btn btn-success " id="btneditar"> <i class=" fa fa-floppy-o"></i> Editar</button>
                    <button type="button" class="btn btn-danger" id="btneditvolver"> <i class=" fa fa-reply"></i> Volver</button>
                </div>


            </div>




        </div>

    </div>

</div>

<script type="text/javascript" src="~/Scripts/app/proveedores.js"></script>
<script type="text/javascript" src="~/Scripts/js/validaciones.js"></script>
